<div class="profile-container">
    <div class="profile-header d-flex justify-content-between align-items-center p-2">
        <div class="back-profile">
            <i class="backtohome bi bi-arrow-left"></i>
            <a href="">Home</a>
        </div>
        {% if current_user.id == user.id %}
        <small class="edit-profile" onclick="window.location.href = '/setting';"><i class="bi bi-gear-fill"></i></small>
        {% endif %}
        <div class="post-options profile-options">
            <button class="options-toggle" aria-label="Post options">
                <i class="bi bi-three-dots"></i>
            </button>

            <div class="options-menu" data-id="{{ user.id}}">
                <a href="#" id="about-this-account" class="option-item">
                    About this account
                </a>
                <hr>

                <a href="#" id="copy-profile-link" class="option-item">
                    Copy profile Link
                </a>
                <hr>
                <a href="#" id="report-user" class="option-item">
                    Report @{{ user.username }}
                </a>
                <hr>

                <a href="#" id="share-profile" class="option-item">
                    Share profile
                </a>
                <hr>
                <a href="#" id="block-user" class="option-item">
                    Block @{{ user.username }}
                </a>
            </div>
        </div>
    </div>
    <img class="img-fluid w-75 mx-auto d-block" src="{{ url_for('static', filename='assets/logo1.png') }}">
    <div class="profile container">
        <div class="info" data-user-id="{{user.id}}">

            <div class="row profile-header align-items-end mb-1">

                <!-- LEFT: Profile Image -->
                <div class="col-auto">
                    <div class="profile-pic-wrapper">
                        <img class="profile-pic"
                            src="{{ user.profile_image_url if user.profile_image_url else url_for('static', filename='assets/default-profile.jpg') }}"
                            width="110" height="110">

                        {% if current_user.id == user.id %}
                        <div class="profile-pic-overlay">Update</div>
                        <input type="file" name="profile" id="profileInput">
                        {% endif %}
                    </div>
                </div>

                <!-- RIGHT: Stats -->
                <div class="col d-flex justify-content-end">

                    <div class="account-audience d-flex gap-4 stats-box" data-user-id="{{ user.id }}">

                        <div class="followers text-start">
                            <h6>{{ user.followers | length }}</h6>
                            <small>Followers</small>
                        </div>

                        <div class="following text-start">
                            <h6>{{ user.following | length }}</h6>
                            <small>Following</small>
                        </div>

                        <div class="text-start">
                            <h6 style="color: #F94818;">{{ user.posts | length }}</h6>
                            <small>Posts</small>
                        </div>

                    </div>

                </div>

            </div>

            <!-- ROW 2: Name -->
            <div class="row">
                <div class="col-12">
                    <h5 class="mb-1">
                        <b>{{user.name}}</b>
                        {% if subscription_has_feature(user, "monetization", "verified_badge") %}
                        <i class="bi bi-patch-check-fill m-1" style="font-size: 18px; color: #F94818;"></i>
                        {% endif %}
                    </h5>
                </div>
            </div>

            <!-- ROW 3: Username -->
            <div class="row">
                <div class="col-12">
                    <h6>@{{user.username}}</h6>
                </div>
            </div>

            <!-- ROW 4: Profile Info -->
            <div class="row">
                <div class="col-12" id="profile-data">

                    {% if user.get_setting("privacy-setting", 'show_birthdate') %}
                    <small>
                        <i class="bi bi-calendar-heart m-1"></i>
                        <span id="birthDate">{{ user.birth_date }}</span>
                    </small>
                    <!-- <br> -->
                    {% endif %}

                    {% if user.get_setting("privacy-setting", 'show_bio') %}
                    <small class="bio"><em><span class="pay-tag-dot"></span>{{ user.get_setting('profile-info', 'bio')
                            }}</em></small>
                    <br>
                    {% endif %}

                    {% if user.get_setting('account-info', 'website') %}
                    <small>
                        <i class="bi bi-globe2"></i>
                        <a href="{{ user.get_setting('account-info', 'website') }}" target="_blank"
                            rel="noopener noreferrer">
                            {{ user.get_setting('account-info', 'website') }}
                        </a>
                    </small>
                    {% endif %}
                    <div class="w-100"></div>
                    {% if current_user.id == user.id %}
                    <small class="share-profile px-3 cursor-pointer" data-username="{{ user.username }}">Share Profile</small> <small><i class="bi bi-heart-fill" id="like-post"></i></small>
                    {% elif is_following %}
                    <small class="Following px-3" data-user-id="{{ user.id }}">Following</small>
                    {% else %}
                    <small class="Follow px-3" data-user-id="{{ user.id }}">Follow</small>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    <hr style="margin:0px;">
    <div class="ProfileOptions {{user.id}}">
        {% if current_user.id == user.id %}
        <h6>Posts</h6>
        <hr>
        <h6>Likes</h6>
        <hr>
        <h6>Reposts</h6>
        <hr>
        <h6>About</h6>
        {% else %}
        <h6>Posts</h6>
        <hr>
        <h6>Reposts</h6>
        <hr>
        <h6>About</h6>
        {% endif %}
    </div>
</div>

<!-- <hr style="margin: 0px 0px 15px 0px;"> -->
{% if not current_user.is_paid_plan %}
<div class="profile-tab" style="padding: 0;">
    <div class="premium">
        <h4>You aren't Verified Yet <i class="bi bi-patch-check-fill m-1" style="font-size: 18px;"></i></h4>
        <p>Get verified for boosted replies, analytics, ad-free browsing, and more. Upgrade your profile now.</p>
        <button style="width: 140px">Get Verified</button>
    </div>
</div>
{% endif %}
<script>
    $(document).ready(function () {
        initializeOptionsToggle($(".div2"));
    });
</script>